<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">/logs/laiyy/shop</property>
        <property name="ERROR_LOG_FILE_NAME">error-service</property>
        <property name="BACKUP_HOME">{LOG_HOME}/backup</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
        </Console>
        <RollingRandomAccessFile name="ErrorLog"
                                 fileName="${sys:user.home}/logs/${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="40MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="DevLog" fileName="${sys:user.home}/logs/laiyy/shop/service.log"
                                 filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/devwh-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="40MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="com.laiyy.shop.service" level="info"/>
        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="DevLog"/>
            <appender-ref ref="ErrorLog"/>
        </root>
    </Loggers>
</Configuration>